Question.addTemplate('default', function(){return `
<div class="container space-above">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-12">
			<h1>Add question </h1>

			<form data-submit="saveResponse">
             <p style = "display: inline-block;margin-right: 10px" class = "addingQuestion" >Add question</p>
             <input  style = " width: 80%" id = "addQn" type="text"data-bind="value"> <br/>            
             
             <p style = "display: inline-block;margin-right: 10px" >Add option 1 </p>
             <input style = " width: 50%" class = "addOption" type="text" data-bind="value">  
             <input class = "radio-options" id="radio-option1" type="radio" name="options" value=1>
             <br/>

             <p style = "display: inline-block;margin-right: 10px" >Add Option 2</p>
             <input style = " width: 50%" class = "addOption" type="text" data-bind="value"> 
             <input class = "radio-options" id="radio-option2" type="radio" name="options" value=1>
             <br/>

              <p style = "display: inline-block;margin-right: 10px" >Add option 3</p>
             <input style = " width: 50%" class = "addOption" type="text" data-bind="value"> 
             <input class = "radio-options" id="radio-option3" type="radio" name="options" value=1>
             <br/>  

              <p style = "display: inline-block;margin-right: 10px" >Add option 4</p>
              <input style = " width: 50%" class = "addOption" type="text" data-bind="value">
              <input class = "radio-options" id="radio-option4" type="radio" name="options" value=1> <br/>  

              <p style = "display: inline-block;margin-right: 10px" >Add Picture </p>
              <input style = " width: 50%" id = "add_pic" type="text" data-bind="value"> <br/>

             <div>
              <p style = "display: inline-block;margin-right: 10px" >Test name </p>
              <select id="select_test_name">
                  <option class= "dropdown_option" value="" name="dropdown">Select one...</option>
                   <option id="dropdown1" class= "dropdown_option" value="OOP" name="dropdown">OOP</option>
                    <option id="dropdown2" class= "dropdown_option" value="Java" name="dropdown">Java</option>
                 
                 <!-- ${this.dropdownTests.display()}-->
 
              </select>

            </div>

             </form>

<!--             <form> <p style = "display: inline-block;margin-right: 15px" >Is open?</p>
               <input class = "open" id="open" type="radio" name="open" value=1> <label for="open">Yes</label>
              <input id = "not-open" type="radio" name="open" value=0> <label for="not-open">No<br></label>
            </form> 


-->

             <button data-click= "addQuestion" type="submit" class="btn btn-default">Skicka</button>
		</div>
	</div>
</div>
`});