Question.addTemplate('default', function(){return `
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add question </h3>
  </div>
  <form data-submit="saveResponse">

      <div class="table-responsive">
       <table class="table">
         <tbody>
          <tr>
            <td><p class = "addingQuestion">Add question</p></td>
            <td><textarea id = "addQn" type="textarea" data-bind="value"></textarea></td>
            <td></td>
          </tr>
          <tr>
            <td><p>Add option 1</p></td>
            <td><input class = "addOption" type="text" data-bind="value"></td>
            <td><input class = "radio-options" id="radio-option1" type="radio" name="options" value=1></td>
          </tr>
          <tr>
            <td><p >Add Option 2</p></td>
            <td><input class = "addOption" type="text" data-bind="value"></td>
            <td><input class = "radio-options" id="radio-option2" type="radio" name="options" value=1></td>
          </tr>

          <tr>
            <td><p>Add option 3</p></td>
            <td><input class = "addOption" type="text" data-bind="value"></td>
            <td><input class = "radio-options" id="radio-option3" type="radio" name="options" value=1></td>
          </tr>
          <tr>
            <td><p>Add option 4</p></td>
            <td><input class = "addOption" type="text" data-bind="value"></td>
            <td><input class = "radio-options" id="radio-option3" type="radio" name="options" value=1></td>
          </tr>

          <tr>
            <td><p>Add Picture</p></td>
            <td><input id = "add_pic" type="text" data-bind="value"></td>
            <td></td>
          </tr>

          <tr>
            <td><p>Test name</p></td>
            <td>
              <div>             
                <select class="form-control" id="select_test_name">
                  <option class= "dropdown_prompt" value="" name="dropdown">Select one...</option>
                </select>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button data-click= "addQuestion" type="submit" class="submitquestionbtn btn btn-primary">Skicka</button>
  </form>
      <p class="hidden">
        ${$(()=>{
          this.getTests();
        })}
      </p>
</div>

`});