Login.addTemplate('default', function(){return `
<div class="container">
   <div class="main">
      <h2>Javascript Login Form Validation</h2>
      <form id="form_id" method="post" name="myform">
         <label>Email :</label>
         <input type="text" name="email" id="email"/>
         <label>Password :</label>
         <input type="password" name="password" id="password"/>

      </form>
     <input data-click="validate" 
        type="button" 
        value="Login" 
        id="loginSubmit" />
   </div>
</div>
`});