TeacherView.addTemplate('default',function(){return `
<div class="container">
  <div class="test-container col-xs-6">
    <h3>All tests</h3>
    <div id="test-list" class="col-xs-12">
      <div class="panel list-group">
      ${this.tests.display()}
     </div>
   </div>
 </div>

 <div id="class-list" class="col-xs-6">
  <div class="panel list-group">
   <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">SYSJM2<span class="label label-info">5</span> <span class="glyphicon glyphicon-envelope pull-right"></span></a>
   <div id="sm" class="sublinks collapse">
    <p class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Pelle Svensson</p>
    <p class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Olle Persson</p>
  </div>
</div>
</div>

</div>
`});
