Test.addTemplate('default', function(){return `
<div class="container space-above">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<h3>${this.test_name}</h3>
			<div class="question-container">
				<div class="question-img"><img src="${this.question.imageURL}" alt=""></div>
				<div class="question">
				
					<h3>Fråga ${this.questions.indexOf(this.question) + 1} av ${this.questions.length}</h3>
					<p>
						${this.question.question_text}
					</p>
					<div class="row">
						${this.question.options.display()}
					</div>
				</div>
			</div>
			<div class="btn-group pull-right questions-nav" role="group" aria-label="...">
				<button data-click="prevQuestion" type="button" id="back" class="btn btn-default">Back</button>
		    	<button data-click="nextQuestion" type="button" id="next" class="btn btn-default">Next</button>
		    	<button data-click="submitTest" type="button" id="submitTest" class="btn btn-default">Submit</button>
			</div>
		</div>
	</div>
</div>
`});